<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GroundControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GroundControl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GroundControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin" />
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <GroundControl.Properties.Settings>
            <setting name="AppViewModel_DisplaName" serializeAs="String">
                <value>PolyITAN</value>
            </setting>
            <setting name="PluginsSearchPattern" serializeAs="String">
                <value>*.dll</value>
            </setting>
        </GroundControl.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GroundControl.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ReadTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </GroundControl.Properties.Settings>
    </userSettings>
</configuration>